<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/styles/styleForUser.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title th:text="${curBook.getId()}"></title>
</head>
<body>
<div>
    <p th:text="${curBook.getName()}"></p>
    <p th:text="${curBook.getYear()}"></p>
    <p th:text="${curBook.getAuthor()}"></p>
</div>
<div class="spanOfButtons">
    <a th:href="@{/books/{id}/edit (id=${curBook.getId()})}" class="btn">Edit</a>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${curBook.getId()})}" th:object="${curBook}">
        <input type="submit" value="DELETE" class="btn" ></input>
    </form>
</div>

<div class="spanOfButtons">
    <form action=""></form>
</div>

</body>
</html>