<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/styles/styleForBooks.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${bookToAdd}">
    <div class="formToFillBook">
        <label for="name_input" class="label">Book`s name</label>
        <input type="text" th:field="*{name}" id="name_input">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <!-- тут блок вадидации имени -->
    </div>
    <div class="formToFillBook">
        <label for="year_input" class="label">Book`s year</label>
        <input type="text" th:field="*{year}" id="year_input">
        <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
        <!-- тут блок вадидации имени -->
    </div>
    <div class="formToFillBook">
        <label for="author_input" class="label">Book`s author</label>
        <input type="text" th:field="*{author}" id="author_input">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <!-- тут блок вадидации имени -->
    </div>
    <input type="submit" value="Add new book" class="btn">
</form>
</body>
</html>