<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header"  >
    <hr>
    <div class="flex-navBar">
        <a th:href="@{/books}" th:text="'Show all books'" class="navBarButton"> </a>
        <a th:href="@{/users}" th:text="'Show all users'" class="navBarButton"></a>
        <a th:href="@{/users/new}" th:text="'Add new User'" class="navBarButton"></a>
        <a th:href="@{/books/new}"  th:text="'Add new Book'" class="navBarButton"></a>
    </div>
    <hr>
</div>
<div th:fragment="selectorOfPages" style="display: flex ;align-items: center;">
    <a  th:if="${numberOfPage>0}" th:href="@{/books?page={numberOfPage}(numberOfPage=${numberOfPage-1})}" class="pageSelectorBtn" th:text="'<'"></a>
    <a  th:if="${numberOfPage==0}" class="pageSelectorBtn" th:text="'<'"></a>
    <a  th:text="${numberOfPage + 1}"></a>
    <a  th:href="@{/books?page={numberOfPage}(numberOfPage=${numberOfPage+1})}" class="pageSelectorBtn" th:text="'>'"></a>
</div>
</body>
</html>